html {
  min-width: 18em;
  min-height: 24em;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  width: 100%;
}

* {
  box-sizing: border-box;
}


.profile-list-menu::-webkit-scrollbar {
  width: 6px;
}

.profile-list-menu::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 4px;
}